<% content_for :title do %>
	历史告警记录
<% end %>
<div class="warp">
	<div class="sef-container">
		<div class="tab-title clearfix text-center">
			<div class="col-xs-4">标题</div>
			<div class="col-xs-4">模块</div>
			<div class="col-xs-4">处理者</div>
		</div>
		<div class="tab-line text-center clearfix">
			<% if @alarms.present? %>
				<% @alarms.each do |alarm| %>
	 				<div class="col-xs-12 active-line">
						<div class="col-xs-4"><%= alarm.title %></div>
						<div class="col-xs-4"><%= alarm.category %></div>
						<div class="col-xs-4"><%= alarm.try(:processer) %></div>
						<div class="col-xs-12">
							<div class="col-xs-6 small-tab text-left" style="padding-left: 15px;">
								<!-- <i class="fa fa-circle fa-red"></i> -->
								开始:<%= alarm.alarmed_at.strftime("%y-%m-%d %H:%M") %>
							</div>
							<div class="col-xs-6 small-tab text-left">
								<!-- <i class="fa fa-circle fa-green"></i> -->
								结束:<%= alarm.end_time.strftime("%y-%m-%d %H:%M") %>
							</div>
						</div>
					</div>
					<hr class="line-hr">
				<% end %>
		  <% else %>
		    <div class="col-xs-12">
					<h4>无历史告警</h4>
				</div>
			<% end %>
		</div>
	</div>
</div>
