<% content_for :title do %>
	告警详细信息
<% end %>
<div class="warp">
	<div class="sef-container">
		<div class="tab-title col-xs-12">
      <%= @alarm.title %>
		</div>
		<div class="tab-line clearfix">
      <div class="col-xs-3">
        所属模块:
      </div>
      <div class="col-xs-9">
        <%= @alarm.category %>
      </div>
      <div class="col-xs-12">
        <div class="col-xs-2">
          告警时间:
        </div>
        <div class="col-xs-4">
          <%= @alarm.alarmed_at %>
        </div>
        <div class="col-xs-2">
          解除时间:
        </div>
        <div class="col-xs-4">
          <%= @alarm.end_time %>
        </div>
      </div>
      <div class="col-xs-12">
        处理信息:<%= @alarm.info %>
      </div>
      <div class="col-xs-3">
        处理者:
      </div>
      <div class="col-xs-9">
        <%= @alarm.user.name %>
      </div>
		</div>
	</div>
</div>
