<% content_for :title do %>
	告警详细信息
<% end %>
<div class="warp">
	<div class="sef-container">
		<div class="alarm-group tab-line clearfix">
      <div class="group-line">
        <div class="col-xs-12 alarm-title">
          <%= @alarm.title %>
        </div>
      </div>
      <hr class="line-hr-2">
      <div class="group-line dl-horizontal">
        <div class="col-xs-4 text-right">
          所属模块:
        </div>
        <div class="col-xs-9">
          <%= @alarm.category %>
        </div>
      </div>
      <div class="group-line">
        <div class="col-xs-4 text-right">
          告警时间:
        </div>
        <div class="col-xs-9">
          <%= @alarm.alarmed_at.strftime("%Y-%m-%d %H:%M") %>
        </div>
      </div>
      <div class="group-line">
        <div class="col-xs-4 text-right">
          解除时间:
        </div>
        <div class="col-xs-9">
          <%= @alarm.end_time.strftime("%Y-%m-%d %H:%M") %>
        </div>
      </div>
      <div class="group-line">
        <div class="col-xs-4 text-right">
          处理信息:
        </div>
        <div class="col-xs-8">
          <%= @alarm.info %>
        </div>
      </div>
			<hr class="line-hr-3">
			<div id="hide-group" class="group-line group-hide">
				<div class="col-xs-4 text-right">
          接收者:
        </div>
        <div class="col-xs-8">
          <%= @catchers %>
        </div>
				<div class="group-line">
					<div class="col-xs-4 text-right">
	          发送信息:
	        </div>
	        <div class="col-xs-8">
	          <%= @alarm.send_logs.first.info %>
	        </div>
				</div>
				<div class="group-line">
					<div class="col-xs-4 text-right">
						处理者:
					</div>
					<div class="col-xs-8">
						<%= @alarm.user.name %>
					</div>
				</div>
			</div>
			<div class="group-bottom-line">
				<div id="more" class="more col-xs-12 text-right">
					展开
					<span class="glyphicon glyphicon-chevron-right icon icon-right" aria-hidden="true"></span>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(function(){
		$("#hide-group").hide();
		$('#more').on('click', function(){
			$("#hide-group").toggle();
		});
	});
</script>
