<% content_for :login_nav do %>
  <%= render partial: "share/login_nav" %>
<% end %>

<div class="col-md-10 col-md-offset-1">
  <div class="col-md-4 col-md-offset-4 mblock clearfix login-form">
    <div class="col-xs-6 col-xs-offset-3 login-img">
      <span>
        <%= image_tag "login.png", class: "img-circle img-responsive" %>
      </span>
    </div>
    <div class="col-xs-12">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <div class="input-group m-b">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <%= f.text_field :login, autofocus: true, class: "form-control", placeholder: "手机号" %>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group m-b">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "输入密码" %>
          </div>
        </div>

        <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <div class="input-group m-b">
            <%= f.check_box :remember_me %>&nbsp;
            <%= f.label "记住我", for: "user_remember_me", class: "text-muted" %>
          </div>
        </div>
        <% end -%>
        <div class="actions">
          <%= f.submit "用户登录", class: "btn btn-primary btn-block" %>
        </div>
        <p></p>
      <% end %>
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
