<div id="header" class="row">
  <div class="col-xs-2 logo">
    <%= image_tag "qxj.png"%>
    智慧气象服务云平台
  </div>
  <div id="interface-sum" class="col-xs-8">
    <%= render partial: "/admin/share/interface_count" %>
  </div>
  <div id="now-timer" class="col-xs-2"></div>
</div>
<div class="row monitor-container">
  <div class="col-xs-9 chart-container">
    <div class="top-container">
      <div class="title text-center">接口调用</div>
      <div class="top-container-chart">
        <div id='user-chart' class="col-xs-6">

        </div>
        <div id='interface-chart' class="col-xs-6">

        </div>
      </div>
    </div>
    <div class="bottom-container">
      <div id="task-chart" class="col-xs-6"></div>
      <%= render partial: '/admin/share/machine_info'%>
    </div>
  </div>

  <div class="col-xs-3 district-weathers">
    <%= render partial: "/admin/share/auto_stations" %>
  </div>
</div>
<script>
  $(function(){
    init_container_height();
    init_chart();

    function init_container_height() {
      var w_height = document.body.clientHeight;
      var header_height = $("#header").height();
      $('.monitor-container').height(w_height - header_height - 20);
      var top_container_height = $('.top-container').height();
      var chart_container_height = $('.chart-container').height();
      $('.top-container-chart').height(top_container_height - 43);
      $('.bottom-container').height(chart_container_height - top_container_height - 12);
      $("#user-chart, #interface-chart").height(top_container_height - 43);
      $("#task-chart").height($(".bottom-container").height() - 2);
    }
    var now_time;
    function show_time() {
      now_time = new Date();
      $("#now-timer").html(timeStamp2String(now_time));
    }
    show_time();
    setInterval( function() {
      show_time();
    },1000);
    function timeStamp2String(datetime){
      var today = new Array('星期日','星期一','星期二','星期三','星期四','星期五','星期六');
      var year = datetime.getFullYear();
      var month = datetime.getMonth() + 1 < 10 ? "0" + (datetime.getMonth() + 1) : datetime.getMonth() + 1;
      var date = datetime.getDate() < 10 ? "0" + datetime.getDate() : datetime.getDate();
      var hour = datetime.getHours()< 10 ? "0" + datetime.getHours() : datetime.getHours();
      var minute = datetime.getMinutes()< 10 ? "0" + datetime.getMinutes() : datetime.getMinutes();
      var second = datetime.getSeconds()< 10 ? "0" + datetime.getSeconds() : datetime.getSeconds();
      return "<div class='row'><div class='col-xs-7 year'>" + year + "." + month + "." + date+"</div> <div class='col-xs-5 date'>"+ today[datetime.getDay()] + "</div></div><div class='row'><div class='hour col-xs-12'>" +hour+":"+minute+":"+second + "</div></div>";
    }

    function init_chart() {
      require.config({
        paths: {
          echarts:'/assets/echarts'
        }
      });
      require(
        ['echarts', 'echarts/chart/line', 'echarts/chart/scatter', 'echarts/chart/pie'],
        function(ec){
          // user chart
          $('#user-chart').each(function(){
            var myChart = ec.init($(this).get(0));
            // options start
            option = {
              tooltip : { trigger: 'axis' },
              legend: {
                x: 'left', y: 'top',
                textStyle: {color: '#fff'},
                data: [
                  <% @interface_counter.keys.each do |key| %>
                    "<%= key %>",
                  <% end %>
                ]
              },
              grid: {
                show: false, borderWidth: 0, x: 50, x2: 5, y2: 35,
                containLabel: true
              },
              xAxis : [{
                type: 'category',
                boundaryGap: false,
                splitLine: {show: false},
                axisLabel: {textStyle: {color: '#fff'}},
                data : [
                    <% @interface_counter.first[1].keys.each do |key| %>
                      "<%= key %>",
                    <% end %>
                ]
              }],
              yAxis : [
                {type: 'value', splitLine: {show: false},
                axisLabel: {textStyle: {color: '#fff'}}}
              ],
              series : [
                <% @interface_counter.each do |e, i| %>
                  {
                    name: "<%= e %>",
                    type:'line',
                    stack: '总量',
                    itemStyle: {normal: {areaStyle: {type: 'default'}}},
                    data: <%= i.values %>
                  },
                <% end %>
              ]
            };
            // options end

            myChart.setOption(option);
          });

          //interface chart
          $('#interface-chart').each(function(){
            var myChart2 = ec.init($(this).get(0));
            // options start
            option = {
              tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
              },
              legend: {
                orient: 'vertical', textStyle: {color: '#fff', fontSize: 12},
                x: 'right', y: '20',
                data:[
                  <% @result.each do |e| %>
                    "<%= e.with_indifferent_access['name']%>",
                  <% end %>
                ]
              },
              series : [
                  {
                      name:'访问来源', type:'pie', selectedMode: 'single',
                      radius : [0, 70], x: '50%', width: '40%',
                      center: ['45%', '50%'],
                      funnelAlign: 'right', max: 1548,
                      itemStyle : {
                        normal : {
                          label : {position : 'inner'}, labelLine : {show : false}
                        }
                      },
                      data:[
                        <% @api_users_sort.each do |user| %>
                          {
                            value: <%= user.with_indifferent_access['count'] %>,
                            name: "<%= user.with_indifferent_access['company']%>"
                          },
                        <% end %>
                      ]
                  },
                  {
                      name:'接口调用信息', type:'pie', radius : [100, 140],
                      x: '60%', width: '35%', funnelAlign: 'left', max: 1048,
                      center: ['45%', '50%'],
                      data:[
                        <% @result.each do |e| %>
                          {
                            value: <%= e.with_indifferent_access['all_count'] %>, name: "<%= e.with_indifferent_access['name']%>"
                          },
                        <% end %>
                      ]
                  }
              ]
            };
            // options end
            myChart2.setOption(option);
          });

          // task log chart
          $('#task-chart').each(function(){
            var myChart3 = ec.init($(this).get(0));
            var task_names = [
              <% @task_names.each do |name|%>
                "<%= name %>",
              <% end %>
            ]
            option = {
                title: {text: '数据处理图', x: 'center', textStyle: {color: '#fff'}},
                tooltip: {
                  trigger: 'axis',
                  axisPointer:{
                    show: true, type: 'cross', lineStyle: {type: 'dashed', width: 1}
                  }
                },
                legend: {
                  data: task_names, textStyle: {color: '#fff'}, x: 'left', y: 35, show: true
                },
                grid: {borderWidth: 0, x: 35, y: 90, x2: 20, y2: 50},
                dataRange: {
                  min: 0, max: 200, orient: 'horizontal', y: 80, x: 'right', show: false,
                  color:['lightgreen','orange'], splitNumber: 5, textStyle: {color: '#fff'}
                },
                xAxis : [
                  {
                    type : 'time', splitLine: {show: false},
                    axisLabel: {
                      textStyle: {color: '#fff'}
                    },
                    data : [
                      <% @task_logs.first[1].each do |item|%>
                        new Date("<%= item[0] %>"),
                      <% end %>
                    ]
                  }
                ],
                yAxis : [{type : 'value', splitNumber: 3, axisLabel: {textStyle: {color: '#fff'}}}],
                animation: false,
                series : [
                  <% @task_logs.each do |log|%>
                    {
                        name: "<%= log[0] %>",
                        type:'scatter',
                        tooltip : {
                            trigger: 'item',
                            formatter : function (params) {
                                var date = new Date(params.value[0]);
                                return params.seriesName + '<br/>'
                                       + '开始时间:'
                                       + date.getFullYear() + '-'
                                       + (date.getMonth() + 1) + '-'
                                       + date.getDate() + ' '
                                       + date.getHours() + ':'
                                       + date.getMinutes()
                                       + '<br/>'
                                       + '耗时:' + params.value[2];
                            },
                            axisPointer:{type: 'cross', show: true}
                        },
                        symbol: 'circle',
                        symbolSize: function (value){
                            v = Math.round(value[2]);
                            if (v < 10) {
                              return v * 5;
                            } else if (v > 10 && v < 20){
                              return v * 0.8;
                            } else if (v > 20 && v < 30){
                              return v * 0.9;
                            } else if (v > 30 && v < 70){
                              return v * 0.2;
                            } else {
                              return v / 10;
                            }
                        },
                        data: [
                          <% log[1].each do |l| %>
                            [
                              new Date("<%= l[0]%>"),
                              "<%= l[1] %>",
                              "<%= l[2] %>"
                            ],
                          <% end %>,
                        ]
                    },
                  <% end %>
                ]
            };
            // options end
            myChart3.setOption(option);
          });
        }
      );
    }
  });
</script>
