<div id="header" class="row">
  <div class="logo">
    <%= image_tag "qxj.png" %>
    上海市气象局
  </div>
  <%= render partial: "/admin/share/interface_count" %>
  <%= render partial: "/admin/share/real_time_weather" %>
  <div id="now-timer" class="now-timer"></div>
</div>
<div class="monitor-content">
  <div class="content-left">
    <div class="top-container">
      <div id='user-chart' class="top-left-chart">

      </div>
      <div id='interface-chart' class="top-right-chart">

      </div>
    </div>
    <div class="bottom-container">
      <%= render partial: '/admin/share/machine_info'%>
    </div>
  </div>
  <%= render partial: "/admin/share/auto_stations" %>
</div>
<script>
  $(function(){
    var now_time;

    function show_time() {
      now_time = new Date();
      $("#now-timer").html(timeStamp2String(now_time));
    }
    show_time();

    setInterval( function() {
      show_time();
    },1000);

    function timeStamp2String(datetime){
      var today = new Array('星期日','星期一','星期二','星期三','星期四','星期五','星期六');
      var year = datetime.getFullYear();
      var month = datetime.getMonth() + 1 < 10 ? "0" + (datetime.getMonth() + 1) : datetime.getMonth() + 1;
      var date = datetime.getDate() < 10 ? "0" + datetime.getDate() : datetime.getDate();
      var hour = datetime.getHours()< 10 ? "0" + datetime.getHours() : datetime.getHours();
      var minute = datetime.getMinutes()< 10 ? "0" + datetime.getMinutes() : datetime.getMinutes();
      var second = datetime.getSeconds()< 10 ? "0" + datetime.getSeconds() : datetime.getSeconds();
      return year + "." + month + "." + date+" "+ today[datetime.getDay()] +hour+":"+minute+":"+second;
    }
  });

  require.config({
    paths: {
      echarts:'/assets/echarts'
    }
  });
  require(
    ['echarts', 'echarts/chart/line', 'echarts/chart/scatter', 'echarts/chart/pie'],
    function(ec){
      // user chart
      $('#user-chart').each(function(){
        var myChart = ec.init($(this).get(0));
        // options start
        option = {
          title: {
            text: '接口调用情况', textStyle: {color: '#fff'}
          },
          tooltip : { trigger: 'axis' },
          legend: {
            textStyle: {color: '#fff'}, x: 'right', y: 'top',
            data: [
              <% @interface_counter.keys.each do |key| %>
                "<%= key %>",
              <% end %>
            ]
          },
          grid: {
            show: false, borderWidth: 0, x2: 5, y2: 35,
            containLabel: true
          },
          xAxis : [{
            type: 'category',
            boundaryGap: false,
            splitLine: {show: false},
            axisLabel: {textStyle: {color: '#fff'}},
            data : ['01:00','02:00','03:00','04:00','05:00','06:00','07:00',
                    '08:00','09:00','10:00','11:00','12:00','13:00','14:00',
                    '15:00','16:00','17:00','18:00','19:00','20:00','21:00',
                    '22:00','23:00','24:00'
                    ]
          }],
          yAxis : [
            {type: 'value', splitLine: {show: false},
            axisLabel: {textStyle: {color: '#fff'}}}
          ],
          series : [
            <% @interface_counter.each do |e, i| %>
              {
                name: "<%= e %>",
                type:'line',
                stack: '总量',
                itemStyle: {normal: {areaStyle: {type: 'default'}}},
                data: <%= i.values %>
              },
            <% end %>
          ]
        };
        // options end

        myChart.setOption(option);
      });

      //interface chart
      $('#interface-chart').each(function(){
        var myChart2 = ec.init($(this).get(0));
        // options start
        option = {
          tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
          },
          legend: {
            orient: 'vertical',
            x: 'right', y: 'center',
            data:[
              <% @interface_distri.each do |e| %>
                "<%= e['name']%>",
              <% end %>
            ]
          },
          calculable : false,
          series : [
              {
                  name:'访问来源',
                  type:'pie',
                  selectedMode: 'single',
                  radius : [0, 70],
                  x: '20%',
                  width: '40%',
                  funnelAlign: 'right',
                  max: 1548,
                  itemStyle : {
                    normal : {
                      label : {position : 'inner'},
                      labelLine : {show : false}
                    }
                  },
                  data:[
                    {value:335, name:'直达'},
                    {value:679, name:'营销广告'},
                    {value:1548, name:'搜索引擎', selected:true}
                  ]
              },
              {
                  name:'访问来源', type:'pie', radius : [100, 140],
                  x: '60%', width: '35%', funnelAlign: 'left', max: 1048,
                  data:[
                    <% @interface_distri.each do |e| %>
                      {
                        value: <%= e['all_count'] %>, name: "<%= e['name']%>"
                      },
                    <% end %>
                  ]
              }
          ]
        };
        // options end
        myChart2.setOption(option);
      });

      // task log chart
      $('#task-chart').each(function(){
        var myChart3 = ec.init($(this).get(0));
        option = {
            title : {text : '类目坐标散点图'},
            tooltip : {
              trigger: 'axis',
              axisPointer:{
                show: true, type : 'cross',
                lineStyle: {
                  type : 'dashed', width : 1
                }
              }
            },
            dataZoom: {
              show: true, start : 30, end : 70
            },
            legend : {
              data : ['series1', 'series2']
            },
            dataRange: {
              min: 0, max: 100, orient: 'horizontal', y: 30, x: 'center',
              color:['lightgreen','orange'], splitNumber: 5
            },
            xAxis : [
              {
                type : 'category',
                axisLabel: {
                  formatter : function(v) {
                    return '类目' + v
                  }
                },
                data : function (){
                  var list = [];
                  var len = 0;
                  while (len++ < 500) {
                      list.push(len);
                  }
                  return list;
                }()
              }
            ],
            yAxis : [{type : 'value'}],
            animation: false,
            series : [
                {
                    name:'series1', type:'scatter',
                    tooltip : {
                      trigger: 'item',
                      formatter : function (params) {
                          return params.seriesName + ' （'  + '类目' + params.value[0] + '）<br/>'
                                 + params.value[1] + ', '
                                 + params.value[2];
                      },
                      axisPointer:{show: true}
                    },
                    symbolSize: function (value){
                      return Math.round(value[2]/10);
                    },
                    data: (function () {
                      var d = [];
                      var len = 0;
                      var value;
                      while (len++ < 500) {
                        d.push([len,(Math.random()*30).toFixed(2) - 0,
                          (Math.random()*100).toFixed(2) - 0
                        ]);
                      }
                      return d;
                    })()
                },
                {
                    name:'series2',
                    type:'scatter',
                    tooltip : {
                        trigger: 'item',
                        formatter : function (params) {
                            return params.seriesName + ' （'  + '类目' + params.value[0] + '）<br/>'
                                   + params.value[1] + ', '
                                   + params.value[2];
                        },
                        axisPointer:{
                            show: true
                        }
                    },
                    symbolSize: function (value){
                        return Math.round(value[2]/10);
                    },
                    data: (function () {
                        var d = [];
                        var len = 0;
                        var value;
                        while (len++ < 500) {
                            d.push([
                                len,
                                (Math.random()*30).toFixed(2) - 0,
                                (Math.random()*100).toFixed(2) - 0
                            ]);
                        }
                        return d;
                    })()
                }
            ]
        };
        // options end
        myChart3.setOption(option);
      });
    }
  );
</script>
