<div id="api_user_modal" class="modal fade rooms-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title"><span class="text-primary"><%= @interface.name %></span><small>添加客户</small></h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <%= form_for([:admin, @interface, @interface.api_users.build], remote: true, format: :js) do |f| %>

              <div class="input-group" style="width: 100%;">
                <% if @interface_api_users.present? %>
                  <%= select_tag :interface_api_users, options_from_collection_for_select(@api_users, "id", "name", @interface_api_users), multiple: true, class: "chosen-select", style: "width:100%", tabindex: "4", prompt: "所有客户", "data-placeholder" => "客户(多选)" %>
                <% else %>
                  <%= select_tag :interface_api_users, options_from_collection_for_select(@api_users, "id", "name", @interface.api_users.pluck(:id)), multiple: true, class: "chosen-select", style: "width:100%", tabindex: "4", prompt: "所有客户", "data-placeholder" => "客户(多选)" %>
                <% end %>   
              </div>
              <br>

              <div class="actions">
                <%= f.submit "#{params[:id].present? ? '更新' : '创建'}", class: "btn btn-success btn-block" %>
              </div>
              <p></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var CKboxDisable;
  CKboxDisable = Array.prototype.slice.call(document.querySelectorAll(".js-switch-modal"));
  CKboxDisable.forEach(function(html) {
    return new Switchery(html, {
      color: "#1AB394",
      size: 'small'
    });
  });

  //配置多选表单
  var config = {
    '.chosen-select'           : {},
    '.chosen-select-deselect'  : {allow_single_deselect:true},
    '.chosen-select-no-single' : {disable_search_threshold:10},
    '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
    '.chosen-select-width'     : {width:"90%"}
  }
  for (var selector in config) {
    $(selector).chosen(config[selector]);
  }
</script>

