<div class="col-xs-4 interface-count all_count text-right"><span><%= @all_interface_count %></span></div>
<div class="col-xs-4 interface-count download text-right"><%= image_tag "download.png"%><span><%= @today_interface_count %></span></div>
<div class="col-xs-4 interface-count upload text-right"><%= image_tag "upload.png"%><span><%= @upload_count %></span></div>
<script type="text/javascript">
  $(function(){
    function get_interface_count() {
      $.ajax({
        type: 'GET',
        async: false,
        url: '/total_interfaces/get_sum',
        beforeSend: function(xhr){
          xhr.setRequestHeader('Accept', 'application/json');
        },
        success: function(data) {
          $("#interface-sum > .all_count > span").html(data.all_count);
          $("#interface-sum > .download > span").html(data.down);
          $("#interface-sum > .upload > span").html(data.upload);
        }
      });
    }
    setInterval( function() {
      get_interface_count();
    },10000);
  });
</script>
