<% content_for :title do %>
	历史告警记录
<% end %>
<div class="warp">
	<div class="sef-container">
		<div class="tab-title col-xs-12 text-center">
			<div class="col-xs-4">标题</div>
			<div class="col-xs-4">模块</div>
			<div class="col-xs-4">采集时间</div>
		</div>
		<div class="tab-line text-center clearfix">
			<% if @history_alarms.present? %>
				<% @history_alarms.each do |alarm| %>
	 				<div class="col-xs-12 active-line">
						<div class="col-xs-4"><%= alarm.title %></div>
						<div class="col-xs-4"><%= alarm.category %></div>
						<div class="col-xs-4"><%= alarmed_time_to_now(alarm) %></div>
						<div class="col-xs-12">
							<div class="col-xs-6 small-tab text-left" style="padding-left: 15px;">
								<i class="fa fa-circle fa-red"></i>
								<%= alarm.alarmed_at.strftime("%y-%m-%d %H:%M") %>
							</div>
							<div class="col-xs-6 small-tab text-left">
								<i class="fa fa-circle fa-green"></i>
								<%= alarm.warn_over_time %>
							</div>
						</div>
					</div>
					<hr class="line-hr">						
				<% end %>
		  <% else %>
		    <div class="col-xs-12">
					<h4>无历史告警</h4>
				</div>
			<% end %>
		</div>
	</div>
</div>