<div class="warp">
	<div class="sef-container">
		<div class="tab-title col-xs-12">
			<%= link_to reports_path(date: last_day(@active_day)) do %>
				<div class="col-xs-4 preview">
					<span class="glyphicon glyphicon-chevron-left icon icon-left" aria-hidden="true"></span> <span>前一天</span>
				</div>
			<% end %>

			<div class="col-xs-4 text-center">
				<input type="text" value="<%= @active_day.strftime("%F") %>" readonly id="select_day" class="select_date">
			</div>

			<%= link_to reports_path(date: next_day(@active_day)) do %>
				<div class="col-xs-4 next">
					<span class="pull-right"><span>后一天</span> <span class="glyphicon glyphicon-chevron-right icon icon-right" aria-hidden="true"></span></span>
				</div>
			<% end %>
		</div>
		<div class="tab-line clearfix">
		<!-- 存在纪录 -->
			<% @interface_infos.each_with_index do |interface_info, index| %>
				<%= link_to report_path(index, name: interface_info["name"], date: @active_day.to_time.to_i * 1000) do %>
					<div class="col-xs-11 mes-line">
						<div class="first-line">
							<div class="col-xs-7 line large-title"><%= index + 1 %>. <%=  interface_info["name"] %></div>
							<div class="col-xs-5 line small-tab">
								<i class="fa fa-circle fa-red"></i>调用次数最高时刻
							</div>
						</div>
						<div class="col-xs-7 line max-point">
							<span class="small-tab"><i class="fa fa-circle fa-green"></i>调用次数</span>
							<span class="number"><%= interface_info["sum_count"] %></span>&nbsp;&nbsp;
							<span class="small-tab">百分比</span>
							<span class="number"><%= @total_count == 0 ? 0 : (interface_info["sum_count"].to_f * 1000 / @total_count).to_i / 10.0 %>％</span>
						</div>
						<div class="col-xs-5 line number">
							<span><%= "#{interface_info["first_times"].to_datetime.strftime("%H")}点" if interface_info["first_times"].present? %></span>
							<span><%= "#{interface_info["second_times"].to_datetime.strftime("%H")}点" if interface_info["second_times"].present? %></span>
							<span><%= "#{interface_info["third_times"].to_datetime.strftime("%H")}点" if interface_info["third_times"].present? %></span>
						</div>
					</div>
					<div class="col-xs-1 icon-twoline">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					</div>
				<% end %>
				<div class="col-xs-12" style="padding: 5px"><hr class="line-hr"></div>
			<% end %>
			<!-- 无纪录 -->
			<% if @interface_infos.blank? %>
				<div class="col-xs-12 mes-line">
					<h4 class="text-center">无纪录</h4>
				</div>
			<% end %>
		</div>
	</div>
</div>

<script>
	$(function(){
		//中间日期选择
		(function($){
			$.fn.datetimepicker.dates['zh-CN'] = {
				days: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六", "星期日"],
				daysShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六", "周日"],
				daysMin:  ["日", "一", "二", "三", "四", "五", "六", "日"],
				months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
				monthsShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一", "十二"],
				today: "最新",
				suffix: [],
				meridiem: ["上午", "下午"]
			};
		}(jQuery));

		$("#select_day").datetimepicker({
			format: "yyyy-mm-dd",
			minView: 2,
			endDate: '<%= (Time.now.to_date - 1).strftime("%F") %>',
			todayBtn: true,
			todayHighlight: true,
			pickerPosition: 'bottom-right',
			autoclose: true,
			language: 'zh-CN'
		}).on('changeDate', function(ev){
				location.href = "<% reports_path %>?date=" + ev.date.valueOf() ;
			});
	});
</script>
