<div class="warp">
	<div class="sef-container">
		<div class="tab-title col-xs-12">
			<div class="col-xs-4">
				<span class="glyphicon glyphicon-chevron-left icon icon-left" aria-hidden="true"></span> <span>前一天</span>
			</div>
			<div class="col-xs-4 text-center">2015-10-24</div>
			<div class="col-xs-4">
				<span class="pull-right"><span>后一天</span> <span class="glyphicon glyphicon-chevron-right icon icon-right" aria-hidden="true"></span></span>
			</div>
		</div>
		<div class="tab-line clearfix">
		<% @reports.each_with_index do |report, index| %>
			<%= link_to "#" do %>
				<div class="col-xs-12 mes-line">
					<div class="first-line">
						<div class="col-xs-7 line large-title"><%= index + 1 %>. <%=  report["name"] %></div>
						<div class="col-xs-5 line small-tab">
							<i class="fa fa-circle fa-red"></i>调用次数最高时刻
						</div>
					</div>
					<div class="col-xs-7 line max-point">
						<span class="small-tab"><i class="fa fa-circle fa-green"></i>调用次数</span>
						<span class="number"><%= report["sum_count"] %></span>&nbsp;&nbsp;
<!-- 						<span class="small-tab">百分比</span>
						<span class="number">5％</span> -->
					</div>
					<div class="col-xs-5 line number">
						<span><%= report["first_times"].try(:to_datetime).try(:strftime("%H")) %>点</span>
						<span><%= report["second_times"].try(:to_datetime).try(:strftime("%H")) %>点</span>
						<span><%= report["third_times"].try(:to_datetime).try(:strftime("%H")) %>点</span>
					</div>
				</div>
	<!-- 			<div class="col-xs-1 icon-twoline">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				</div> -->
			<% end %>
			<div class="col-xs-12" style="padding: 5px"><hr class="line-hr"></div>
		<% end %>
		</div>
	</div>
</div>
