<% content_for :title do %>
	月报表
<% end %>
<div class="warp">
	<div class="sef-container">
		<div class="tab-title col-xs-12">
			<!-- 前一月 -->
			<%= link_to month_report_path(date: last_month(@begin_month)) do %>
				<div class="col-xs-4">
					<span class="glyphicon glyphicon-chevron-left icon icon-left" aria-hidden="true"></span> <span>前一月</span>
				</div>
			<% end %>
			<!-- 选择日期 -->
			<div class="col-xs-4 text-center">
				<input type="text" value="<%= @begin_month.strftime("%Y-%m") %>" readonly id="selected_month_input" class="select_date">
			</div>
			<!-- 后一月 -->
			<% if next_month(@end_month) > Date.today %>
				<div class="col-xs-4 text-muted">
					<span class="pull-right"><span>后一月</span> <span class="glyphicon glyphicon-chevron-right icon icon-right" aria-hidden="true"></span></span>
				</div>
			<% else %>
				<%= link_to month_report_path(date: next_month(@end_month)) do %>
					<div class="col-xs-4">
						<span class="pull-right"><span>后一月</span> <span class="glyphicon glyphicon-chevron-right icon icon-right" aria-hidden="true"></span></span>
					</div>
				<% end %>
			<% end %>
		</div>
		<div class="tab-line clearfix">
			<!-- 无纪录 -->
			<% if @total_count == 0 %>
				<div class="col-xs-12 mes-line"><h4 class="text-center">无纪录</h4></div>
			<% else %>
				<% index = 0 %>
				<% @month_reports.each do |key, value| %>
					<%= link_to month_show_reports_path(name: key, date: @begin_month) do %>
						<div class="col-xs-11 mes-line">
							<div class="first-line">
								<div class="col-xs-7 line large-title"><%= index += 1 %>. <%= key %></div>
								<div class="col-xs-5 line small-tab">
									<i class="fa fa-circle fa-red"></i>调用次数最高时刻
								</div>
							</div>
							<div class="col-xs-7 line max-point">
								<span class="small-tab"><i class="fa fa-circle fa-green"></i>调用次数</span>
								<span class="number"><%= value[:sum_count] %></span>&nbsp;&nbsp;
								<span class="small-tab">百分比</span>
								<span class="number"><%= (value[:sum_count].to_f * 1000 / @total_count).to_i / 10.0 %>％</span>
							</div>
							<div class="col-xs-5 line number">
								<% value[:tops].each do |top| %>
									<span><%= "#{top.to_date.strftime("%d")}号" %></span>
								<% end %>
							</div>
						</div>
						<div class="col-xs-1 icon-twoline">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						</div>
					<% end %>
					<div class="col-xs-12" style="padding: 5px"><hr class="line-hr"></div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>

<script>
	$(function(){
		//中间日期选择
		(function($){
			$.fn.datetimepicker.dates['zh-CN'] = {
				days: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六", "星期日"],
				daysShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六", "周日"],
				daysMin:  ["日", "一", "二", "三", "四", "五", "六", "日"],
				months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
				monthsShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一", "十二"],
				today: "最新",
				suffix: [],
				meridiem: ["上午", "下午"]
			};
		}(jQuery));

		$("#selected_month_input").datetimepicker({
			format: "yyyy-mm",
			minView: 3,
			startView: 3,
			endDate: '<%= Time.now.to_date.strftime("%F") %>',
			todayBtn: true,
			pickerPosition: 'bottom-right',
			autoclose: true,
			language: 'zh-CN'
		}).on('changeDate', function(ev){
				location.href = "<% month_report_path %>?date=" + ev.date.valueOf();
			});
	});
</script>
