<div class="warp">
	<div class="sef-container">
		<div class="tab-title col-xs-12">
			<!-- 前一月 -->
			<%= link_to week_reports_path(date: last_week(@monday)) do %>
				<div class="col-xs-4">
					<span class="glyphicon glyphicon-chevron-left icon icon-left" aria-hidden="true"></span> <span>前一周</span>
				</div>
			<% end %>
			<!-- 选择日期 -->
			<div class="col-xs-4 text-center">
				<div class="col-xs-12 week-title">本周</div>
				<div class="row" style="line-height: 15px;">
					<div class="col-xs-6">
						<input type="text" value="<%= @monday.strftime("%F") %>" readonly id="monday_input" class="select_week">
					</div>
					<div class="col-xs-6">
						<input type="text" value="<%= @sunday.strftime("%F") %>" readonly id="sunday_input" class="select_week">
					</div>
				</div>
			</div>
			<!-- 后一月 -->
			<%= link_to week_reports_path(date: next_week(@sunday)) do %>
				<div class="col-xs-4">
					<span class="pull-right"><span>后一周</span> <span class="glyphicon glyphicon-chevron-right icon icon-right" aria-hidden="true"></span></span>
				</div>
			<% end %>

		</div>
		<div class="tab-line clearfix">

			<% @reports.each_with_index do |report, index| %>
				<%= link_to report_path(index) do %>
					<div class="col-xs-11 mes-line">
						<div class="first-line">
							<div class="col-xs-7 line large-title"><%= index + 1 %>. <%=  report["name"] %></div>
							<div class="col-xs-5 line small-tab">
								<i class="fa fa-circle fa-red"></i>调用次数最高时刻
							</div>
						</div>
						<div class="col-xs-7 line max-point">
							<span class="small-tab"><i class="fa fa-circle fa-green"></i>调用次数</span>
							<span class="number"><%= report["sum_count"] %></span>&nbsp;&nbsp;
							<!--<span class="small-tab">百分比</span>
							<span class="number">5％</span> -->
						</div>
						<div class="col-xs-5 line number">
							<span><%= report["first_times"].to_datetime.strftime("%H") if report["first_times"].present? %>点</span>
							<span><%= report["second_times"].to_datetime.strftime("%H") if report["second_times"].present? %>点</span>
							<span><%= report["third_times"].to_datetime.strftime("%H") if report["third_times"].present? %>点</span>
						</div>
					</div>
					<div class="col-xs-1 icon-twoline">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					</div>
				<% end %>
				<div class="col-xs-12" style="padding: 5px"><hr class="line-hr"></div>
			<% end %>

		</div>
	</div>
</div>

<script>
	$(function(){
		//中间日期选择
		(function($){
			$.fn.datetimepicker.dates['zh-CN'] = {
				days: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六", "星期日"],
				daysShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六", "周日"],
				daysMin:  ["日", "一", "二", "三", "四", "五", "六", "日"],
				months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
				monthsShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一", "十二"],
				today: "本周",
				suffix: [],
				meridiem: ["上午", "下午"]
			};
		}(jQuery));

		//选择周一
		$("#monday_input").datetimepicker({
			format: "mm-dd",
			minView: 2,
			daysOfWeekDisabled: [0, 2, 3, 4, 5, 6],
			endDate: '<%= (Time.now.to_date).strftime("%F") %>',
			todayBtn: true,
			pickerPosition: 'bottom-right',
			autoclose: true,
			language: 'zh-CN'
		}).on('changeDate', function(ev){
				location.href = "<% week_reports_path %>?date=" + ev.date.valueOf();
			});

		//选择周二
		$("#sunday_input").datetimepicker({
			format: "mm-dd",
			minView: 2,
			daysOfWeekDisabled: [1, 2, 3, 4, 5, 6],
			endDate: '<%= (Time.now.to_date).strftime("%F") %>',
			todayBtn: true,
			pickerPosition: 'bottom-right',
			autoclose: true,
			language: 'zh-CN'
		}).on('changeDate', function(ev){
				location.href = "<% week_reports_path %>?date=" + ev.date.valueOf();
			});
	});
</script>
