<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>服务器详情</h5>
        </div>
        <div class="ibox-content">
          <h3>CPU</h3> 
          <p>&nbsp;&nbsp;&nbsp;&nbsp;型号：<%= @machine.machine_detail.try(:cpu_name) %></p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;cpu数：<%= @machine.machine_detail.try(:cpu_real) %></p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;核数：<%= @machine.machine_detail.try(:cpu_total) %></p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;频率：<%= @machine.machine_detail.try(:mhz) %></p><br>

          <h3>Memory</h3>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;内存：<%= @machine.machine_detail.try(:memory_total) %></p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;虚拟内存：<%= @machine.machine_detail.try(:memory_swap_total) %></p><br>

          <h3>Network</h3>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;内网地址：<%= @machine.machine_detail.try(:network_address) %></p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;外网地址：<%= @machine.machine_detail.try(:network_external_address) %></p><br>

          <%= link_to "返回", admin_customer_machines_path(@machine.customer_id), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>

